aws_access_key = "XXXX"
aws_secret_key = "XXXX"
aws_region = "us-east-1"
aws_kms_key_id = "XXXX"
key_pair = "my-key-pair"
mysql_user = "root"
mysql_pass = "MySecretPassword"
mysql_database = "javaperks"
instance_size = "t3.large"
consul_dl_url = "https://releases.hashicorp.com/consul/1.6.1/consul_1.6.1_linux_amd64.zip"
vault_dl_url = "https://releases.hashicorp.com/vault/1.2.3/vault_1.2.3_linux_amd64.zip"
nomad_dl_url = "https://releases.hashicorp.com/nomad/0.10.1/nomad_0.10.1_linux_amd64.zip"
ctemplate_dl_url = "https://releases.hashicorp.com/consul-template/0.22.0/consul-template_0.22.0_linux_amd64.zip"
consul_license_key = "XXXX"
vault_license_key = "XXXX"
unit_prefix = "mylab"
consul_join_key = "consul-mylab-key"
consul_join_value = "consul-mylab-value"
ldap_pass = "MySecretPassword"
git_branch = "master"
